{{> navbar }}

<div class="aboutContainer">
      <h3 class="black-text centered-text">About ShortBot</h3>
      <p class="black-text">ShortBot is a simple-to-use Discord bot to shorten URL's. To shorten a URL, you simply type <code>sh![url]</code>, but replace [url] with the URL you want to shorten! You can even create a custom URL with <code>sh!custom [name] [url]</code>.</p>
      <p class="black-text">You can also use this dashboard to create short url's. Just log in with your Discord account and you can start creating links!</p>
      <p class="black-text">This bot is open-source available on <a href="https://github.com/TheChicken14/ShortBot">GitHub</a>.</p>
</div>