<!Doctype html>
<html>

<head>
  <title>ShortBot Discord Login</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
  <%- include('partials/navbar.ejs') %>
  <% if(user == null) { %>
    <%- include('partials/loginButton.ejs') %>
  <% } else { %>
    <div class="center">
      <div class="container">
        <h2>
          You're logged in as <%- user.tag %>
        </h2>
      </div>
    </div>
  <% } %>
</body>

</html>