<!DOCTYPE html>
<html>
    <head>
        <script>
            if (window.opener) {
              window.onunload = refreshParent;
              function refreshParent() {
                window.opener.location.reload();
              }
              window.close()
            } else {
                window.location = '/'
            }
          </script>
    </head>
    <body>
        <h1>This page should be closed.</h1>
    </body>
</html>